/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Ubuntu', sans-serif; */
h1{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    color: black;
}
p{
    font-family: 'Poppins', sans-serif;
    font-weight: normal; 
}